<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Écuries</title>
</head>
<body>
  <nav class="menu">
    <ul>
      <li><a href="index.html">Accueil</a></li>
      <li><a href="ecuries.html">Écuries</a></li>
      <li><a href="historique.html">Historique</a></li>
    </ul>
  </nav>  
  <h1>Liste des Écuries</h1>
  <div id="ecuries-list"></div>
  <script src="script.js" type="module"></script>
</body>
</html>